<h2>Register Players</h2>

<p *ngIf="message">{{ message }}</p>

<form (ngSubmit)="registerContestants()">
  <div class="player-names">
    <ul>
      <li *ngFor="let player of players; index as i; trackBy: trackByIndex">
        <input name="player{{i}}" type="text" [(ngModel)]="players[i]">
      </li>
    </ul>
  </div>

  <div>
    <button type="submit">Register Contestants</button>
  </div>

  <div>
    <button type="button" (click)="autofill(2)">Autofill 2 Contestants</button>
    <button type="button" (click)="autofill(4)">Autofill 4 Contestants</button>
    <button type="button" (click)="autofill(8)">Autofill 8 Contestants</button>
  </div>
</form>
